@charset "UTF-8";
@import "./reset.css";

:root {
	--base-text-color: #666;
	--base-text-light: #fff;
	--base-text-dark: #000;
	--primary-color:#1e598c;

}

* { 
	margin : 0;
	padding : 0;
}
html { font-size: 20px; }



body {
	font :"Maven Pro", "Noto Sans KR", sans-serif;
	font-size : .7rem;
	font-weight : 400;
	color: var(--base-text-color);
}
ul {
	list-style-type: none;
}
.d-none {
	display : none;
}
.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 48
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}
.pos-relative{
	position:relative;
}
.pos-absolute{
	position: absolute;
	
}
button{
	background-color:transparent;
	border: 0;
	outline: none; 
}
/*====================header=======================*/
header{
	background-image: url("../images/visual_bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 950px;
	overflow:hidden;
}

.logo  {
	margin: 2rem 0 0 0; 
}
.burger{
	float:right;
	right: 0;
	top: 0;
	
}
.slogan_text {
	margin: 230px auto 0; 
	width : 533px;
	height: 243px;
}
/*====================section->article=======================*/
.system-bg{
	background-image: url("../images/system_bg.jpg");
	background-repeat: repeat-x; 
	background-size: cover;
	overflow : hidden; 
	
}
.title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--title-text-color);
	border-bottom: 1px solid var(--primary-color);
	margin: 2.5rem 0 0 0;  /*top right bottom left 순서로 margin 적용 */
	padding: 0 0 .5rem 0; /*top right bottom left 순서로 padding 적용 */
}

.sub-title{
	font-size: 1rem;
	font-weight: 500;
	color: var(--base-text-light);
	background-color:var(--primary-color);
	text-align : center; 
	width: 30%; /* 1000px의 30%크기. 300px/20px= 15rem으로 렌더링*/
	margin: 0 auto;
	padding: .5rem 0; 
}
.system-list {
	display: flex;
	column-gap: 1rem;
	margin : 3rem 0;
}
.system-list li {
	border-radius: 50%;
	overflow: hidden;
}
.system-list li:hover .overlay{
	display: flex; /*flex : (block)flex, inline-flex */
}

.system-list .overlay{
	background-color: rgba(0,0,0, .3);
	color: var(--base-text-light);
	width: 100%;
	height: 100%;
}

.overlay {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;  /*flex 기본정렬 : row(=행 : 수평)  > column(열: 수직)으로 바꾸면 수직 정렬 > */
}
.over-title {
	font-size: 1.5rem;
}
.over-title + .material-symbols-outlined {  /* + : 다음 형제 요소, ~: 다음 형제들 요소 */
	font-size: 2rem;
}

/*====================section>article : new-item=======================*/
.new-item {
	display: flex;
	flex-direction: column;	/*coloumn 으로 되어있으면 align-items로 가운데 정렬화*/
	align-items: center; /*aling self : 개별 정렬 속성( 하나만)*/
}
.new-item img:nth-of-type(1) {
	width: 30rem;
	object-fit : cover; /* 크기값에 맞게 조절 */
}
.new-item button:nth-of-type(1) {
	border: 1px solid var(--base-text-dark, black);
	border-radius: 1.5rem;
	font-size : .8rem;
	color: var(--base-text-dark, black);
	padding: .5rem 1rem;
}

/*====================footer=======================*/
