@charset "UTF-8";
@import "./reset.css";

:root {
	--base-text-color: #666;
	--base-text-light: #fff;
	--base-text-dark: #000;
	--primary-color:#1e598c;

}

* { 
	margin : 0;
	padding : 0;
}
html {
	font-size: 20px;
	scroll-behavior : smooth; 
	}



body {
	font :"Maven Pro", "Noto Sans KR", sans-serif;
	font-size : .7rem;
	font-weight : 400;
	color: var(--base-text-color);
}
ul {
	list-style-type: none;
}
a {
	color : inherit;
	text-decoration: none;
}

.d-none {
	display : none;
}
.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 48
}
.container{
	max-width: 1190px;
	margin: 0 auto;
}
.pos-relative{
	position:relative;
}
.pos-absolute{
	position: absolute;
	
}
.pos-fixed {
	position:fixed;
}
button{
	background-color:transparent;
	border: 0;
	outline: none; 
}
/*====================header=======================*/
header.main-header{
	background-image: url("../images/visual_bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 950px;
	overflow:hidden;
}

.logo  {
	margin: 2rem 0 0 0; 
}
.burger{
	right: 0;
	top: 0;
	
}
.slogan_text {
	margin: 230px auto 0; 
	width : 533px;
	height: 243px;
}
/*====================section->article=======================*/
.system-bg{
	background-image: url("../images/system_bg.jpg");
	background-repeat: repeat-x; 
	background-size: cover;
	overflow : hidden; 
	
}
.title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	margin: 2.5rem 0 0 0;  /*top right bottom left 순서로 margin 적용 */
	padding: 0 0 .5rem 0; /*top right bottom left 순서로 padding 적용 */
}

.sub-title{
	font-size: 1rem;
	font-weight: 500;
	color: var(--base-text-light);
	background-color:var(--primary-color);
	text-align : center; 
	width: 17rem; /* 1000px의 30%크기. 300px/20px= 15rem으로 렌더링*/
	margin: 0 auto;
	padding: .5rem 0; 
	letter-spacing: -1px;
}
.system-list {
	display: flex;
	column-gap: 1rem;
	margin : 3rem 0;
	justify-content: center;
}
.system-list li {
	border-radius: 50%;
	overflow: hidden;
}
.system-list li:hover .overlay{
	display: flex; /*flex : (block)flex, inline-flex */
}

.system-list .overlay{
	background-color: rgba(0,0,0, .3);
	color: var(--base-text-light);
	width: 100%;
	height: 100%;
}

.overlay {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;  /*flex 기본정렬 : row(=행 : 수평)  > column(열: 수직)으로 바꾸면 수직 정렬 > */
}
.over-title {
	font-size: 1.5rem;
}
.over-title + .material-symbols-outlined {  /* + : 다음 형제 요소, ~: 다음 형제들 요소 */
	font-size: 2rem;
}

/*====================section>article : new-item=======================*/
.new-item {
	display: flex;
	flex-direction: column;	/*coloumn 으로 되어있으면 align-items로 가운데 정렬화*/
	align-items: center; /*aling self : 개별 정렬 속성( 하나만)*/
	margin: 1rem 0 1rem 0;
}
.new-item >img:nth-of-type(1) {
	width: 30rem;
	object-fit: cover; /* 크기값에 맞게 조절 */
}

.new-item button:nth-of-type(1) {
	border: 1px solid var(--base-text-dark, black);
	border-radius: 1.5rem;
	font-size : .8rem;
	color: var(--base-text-dark, black);
	padding: .5rem 1rem;
}

.item-detail {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:var(--base-text-light, crimson);
	overflow: hidden;

}

.detail{
	display: flex;
	column-gap: .5rem;
}

.img-detail {
	flex:4;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 400px;
	row-gap :.5rem;
}
.img-detail img{
	width: 100%;
	object-fit :cover; 
}
.big-img {
	flex: 7;
	overflow: hidden;
}
.small-img {
	flex: 3;
	overflow: hidden;
	display: flex;
	column-gap: .5rem;
}
.small-img li{
	flex: 1;
	overflow: hidden;	
	background-color: var(--text-color-dark, #000)
	
}
.small-img li img{
	border: 10px solid transparent;
	box-sizing: border-box;
	opacity: .5;
}

.small-img li:hover img{
	border: 2px solid dodgerblue;
	/*    : 1;*/
}
.text-detail{
	flex: 6;
	background-color: var(--gray-color, #efefef);
}
.text-detail p{
	margin : 1rem
}
.text-detail ul{
	list-style-type: square; /*목록기호 : 사각형 */
	list-style-position: inside; /*목록기호 위치*/    
	/*list-style : inside square; */
	margin : 0 0 0 3rem;
}


#close {  /*자세히보기 닫기*/
	position: absolute;
	right: 2%;
	top:2%;
	background-color: var(--base-text-dark, black);
	color : var(--base-text-light, white);
	font-size: 2rem;
	width: 64px;
	height: 64px;
	border-radius : 50%;
	text-align: center;
	
}

.screen {
	position : fixed;
	background-color : rgba (0,0,0, .4);
	width : 100vw;
	height : 100vh;
	z-index : 1000; 
}

/*==========sidePanel================*/
#sidePanel.collapsed {
	right: -280px;
}
#sidePanel{
	width: 280px;
	height: 100%;
	right: 0;
	top:0;
	color: var(--text-color-light,white);
	transition: all .3s;
	z-index : 2000;
}
#sidePanel .container{
	background-color: dodgerblue;
	height: 100%
	
}
.side-header{
	padding: 0 0 0 1rem;
	text-transform: uppercase;
}
.side-header h2{
	font-size: 2rem;
}
.side-header h2 + p {
	font-size: 1.25rem;
}
#closePanel {
	position: absolute;
	right: calc(14rem - 25px);
	top: calc(50% - 25px); 
	width: 50px;
	height: 50px;
	color: var(--base-color-dark, black);
	background-color: var(--base-color-light, white);
	box-shadow:.2rem .2rem 10px 0 rgba(0,0,0, .4) ;
	border-radius: 50%;
	font-size : 1.5rem;
}
/*====================aside==============사진 두개 있으면 맨앞 오는건 먼저 쓴다.=========*/
.aside-bg {
	min-height:300px;
	background-image : url("../images/company.png"), url("../images/company_bg.jpg");
	background-size: contain, cover;
	background-repeat: no-repeat, repeat-x;
	background-position:  right bottom, left bottom;
}
aside .container{
	overflow: hidden;
}
aside .container .catch-title {
	font-size: 1rem;
	font-weight: 500;
	color: var(--special-text-color, #193f5c);
	margin: 3rem 0 1rem 0;
}
aside .container .catch-desc {
	font-size: 1.5rem;
	color: var(--special-text-color, #193f5c);
}
.w500 {
	font-weight: 500;
}
.w300 {
	font-weight: 300;
}
aside .container .extras {
	margin: 3rem 0 0 0; 
}
/*====================extras=======================*/
.extras{
	background-color: var(--extras-bg-color, #f5f5f5);
}
.extras .container{
	display: flex;
	justify-content: space-between;
}
.contact::before{
	content: '';
	display: inline-block;
	background-image: url("../images/icon_call.png");
	width: 28px;
	height: 28px;
	vertical-align: sub;  /*아이콘과 num 위치설정 :vertical align*/
}
.contact {
	align-self: center;
	font-size: 1rem;
	font-weight: 700;
	color: var(--contact-number-color, #e86708);
}	

/*====================footer=======================*/
footer .container {
	text-align: center;
	padding : 2rem 0;
}
footer .container h3 {
	margin: 1rem 0;
}	
footer .container p:nth-of-type(3) {
	margin: 1rem 0 0 0
}


